@import "scss/utils.scss";

button {
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.1s ease;
  &:active {
    transform: translateY(-1px);
  }
}

.btn {
  height: 45px;
  width: 63px;
}

.fullwidth {
  width: 100% !important;
}

.btn-xs {
  height: 24px;
  width: 24px;
}

.btn-sm {
  width: 65px;
  height: 45px;
}

.btn-md {
  width: 140px;
  height: 52px;
}

.btn-lg {
  width: 290px;
  height: 60px;
}
.btn-md,
.btn-lg {
  font-weight: 600;
}

.green {
  background-color: $c-primary !important;
  border: 1px solid $c-primary !important;
  color: $c-white !important;
}

.black {
  background-color: $c-black !important;
  border: 1px solid $c-black !important;
  color: $c-white !important;
}

.btn-primary {
  border: none !important;
}

.btn-outline {
  background-color: $c-white;
  color: $c-black;
  border: 1px solid $c-black;
}

.btn-color {
  background-color: transparent;
  border: none;
  color: transparent;
}

.btn-color-white {
  border: 1px solid $c-black;
}

.btn-selected {
  border: 2px solid $c-white;
  outline: 2px solid $c-primary;
}
