.product {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  .product-images {
    display: flex;
    .product-images-small {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 510px;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .product-images-small-image {
        cursor: pointer;
        width: 80px;
        height: 80px;
        padding-bottom: 30px;
        img {
          width: 80px;
          height: 80px;
          object-fit: contain;
        }
      }
    }
    .product-images-full {
      padding: 0px 40px;
      width: 610px;
      height: 510px;
      img {
        width: 610px;
        height: 510px;
        object-fit: contain;
      }
    }
  }
  .product-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    .product-info-title {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    .product-info-name {
      font-weight: 300;
      font-size: 30px;
      padding-bottom: 30px;
    }
    .product-info-setting-container {
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
      .product-info-setting-content {
        flex-wrap: wrap;
        gap: 10px 0px;
        font-family: "Raleway";
        font-size: 24px;
        margin-top: 5px;
        display: flex;
      }
    }
    .product-info-price {
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 30px;
      .product-info-price-total {
        font-family: "Raleway";
        font-size: 24px;
        margin-top: 15px;
      }
    }
    .product-info-description {
      font-family: "Roboto";
      color: #1d1f22;
      font-size: 16px;
      padding-top: 30px;
      line-height: 1.5;
    }
  }
}
