.cart-menu {
  width: 325px;
  overflow: scroll;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  padding: 32px 15px;
  &::-webkit-scrollbar {
    display: none;
  }
  .cart-menu-header {
    span {
      font-weight: 600;
    }
  }
  .cart-menu-items {
  }
  .cart-menu-footer {
    .cart-menu-footer-total {
      padding-top: 10px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
    }
    .cart-menu-footer-buttons {
      a {
        width: 100%;
        text-decoration: none;
      }
      display: flex;
    }
  }
}
