.indicator {
  background-color: #1d1f22;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  color: $c-white;
  top: 0px;
  right: 0px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: "Roboto";
}
