@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Source+Sans+Pro&display=swap");

@import "../components/UI/Button/Button.scss";
@import "../components/Business/Header.scss";
@import "../components/UI/ActionIcon/ActionIcon.scss";
@import "../components/UI/Menu/Menu.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.container {
  margin: 0 auto;
  width: 1500px;
  @media (max-width: 1500px) {
    width: 100%;
  }
}

button,
a,
.action-icon {
  &:active {
    transform: translateY(-1px);
  }
}
