@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

@import "./utils.scss";

@import "../components/Business/ItemCard/CartItem.module.scss";
@import "../components/Business/ItemCard/PreviewItem.module.scss";
@import "../components/Business/Menus/Currency/CurrencyMenu.module.scss";
@import "../components/Business/Menus/MiniCart/MiniCartItem.module.scss";
@import "../components/Business/Menus/MiniCart/MiniCartMenu.module.scss";

@import "../components/UI/ActionIcon/ActionIcon.module.scss";
@import "../components/UI/Button/Button.module.scss";
@import "../components/UI/Indicator/Indicator.module.scss";
@import "../components/UI/Menu/Menu.module.scss";
@import "../components/UI/Overlay/Overlay.module.scss";
@import "../components/UI/Slider/Slider.module.scss";
@import "../components/UI/Loader/Loader";
@import "../components/UI/Skeleton/Skeleton";

@import "../pages/Cart/CartPage.module.scss";
@import "../pages/Content/ContentPage.module.scss";
@import "../pages/Header/Header.module.scss";
@import "../pages/Product/ProductPage.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  overflow-y: overlay;
}

footer {
  height: 100px;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

img {
  -webkit-user-drag: none;
}

.overlay-container {
  position: relative;
  min-height: calc(100vh - 80px);
}

.section-title {
  height: 180px;
  display: flex;
  align-items: center;
  font-size: 32px;
  span {
    text-transform: uppercase;
    font-weight: 600;
  }
}

button,
a,
.action-icon {
  &:active {
    transform: translateY(-1px);
  }
}
