@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

@import "./utils.scss";

@import "../components/Business/ProductCard/_CartProduct.scss";
@import "../components/Business/ProductCard/_PreviewProduct.scss";
@import "../components/Business/Menus/Currency/_CurrencyMenu.scss";
@import "../components/Business/Menus/Minicart/_MinicartProduct.scss";
@import "../components/Business/Menus/Minicart/_MinicartMenu.scss";

@import "../components/Business/Modals/Checkout/CheckoutModal";

@import "../components/UI/ActionIcon/_ActionIcon.scss";
@import "../components/UI/Button/_Button.scss";
@import "../components/UI/Indicator/_Indicator.scss";
@import "../components/UI/Menu/_Menu.scss";
@import "../components/UI/Overlay/_Overlay.scss";
@import "../components/UI/Slider/_Slider.scss";
@import "../components/UI/Loader/_Loader";
@import "../components/UI/Skeleton/_Skeleton";
@import "../components/UI/Modal/Modal";
@import "../components/UI/Input/Input";

@import "../pages/Cart/_CartPage.scss";
@import "../pages/Content/_ContentPage.scss";
@import "../pages/Header/_Header.scss";
@import "../pages/Product/_ProductPage.scss";

@import "../components/Business/QtyButtons";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Raleway";
  overflow-y: overlay;
}

input {
  box-sizing: border-box;
}

footer {
  height: 100px;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

img {
  -webkit-user-drag: none;
}

.overlay-container {
  position: relative;
  min-height: calc(100vh - 80px);
}

.section-title {
  height: 180px;
  display: flex;
  align-items: center;
  font-size: 32px;
  span {
    text-transform: uppercase;
    font-weight: 600;
  }
}

button,
a,
.action-icon {
  &:active {
    transform: translateY(-1px);
  }
}
